:root {
	--color-gray-0: #fefefe;
	--color-gray-10: #f5f5f5;
	--color-gray-20: #eeeeee;
	--color-gray-30: #e4d7c5;
	--color-gray-50: #e4d8c6;
	--color-gray-90: #333333;
	--color-gray-100: #000000;

	--color-blue-70: #2c669d;
	--color-blue-90: #00529f;
	--color-green: #18a07b;
	--color-red-90: #f87a76;

	--border-radius-lg: 24px;
	--border-radius-md: 16px;
	--border-radius-sm: 8px;
	--border-radius-xs: 2px;

	--border-width: 3px;

	--syntax-tab-size: 2;

	--font-display-large: 3rem;
	--font-display-medium: 1.8rem;
	--font-display-small: 1.5rem;
	--font-weight-bold: 600;
	--font-weight-strong: 800;

	--line-max-length: 70ch;
	--line-height: 1.5;
	--line-wrap: pretty;
}
