:root {
	--color-gray-0: #fefefe;
	--color-gray-10: #f7f7f7;
	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #333333;
	--color-gray-100: #000000;

	--color-blue-70: #2c669d;
	--color-blue-90: #00529f;
	--color-red-90: #9d0000;

	--border-radius-large: 24px;
	--border-radius-medium: 16px;
	--border-radius-small: 8px;
	--border-radius-extra-small: 2px;

	--syntax-tab-size: 2;
}