:root {
	--background-color: var(--color-gray-10);

	--container-border-radius: var(--border-radius-large);
	--container-background-color: var(--color-gray-0);

	--text-color: var(--color-gray-90);
	--text-color-link: var(--color-gray-90);
	--text-color-link-active: #00596b;
	--text-color-link-visited: #b00162;

	--primary-action: var(--color-blue-90);
}