:root {
	--background-color: var(--color-gray-0);

	--container-border-radius: var(--border-radius-large);
	--container-background-color: var(--color-gray-0);

	--text-color: var(--color-gray-90);
	--text-color-inverse: var(--color-gray-0);
	--text-color-link: var(--color-gray-90);
	--text-color-link-active: #00596b;
	--text-color-link-visited: #b00162;

	--primary-action: var(--color-blue-90);
	--primary-action-active: var(--color-blue-70);

	--tile-border-style: solid var(--color-gray-100);
	--tile-border-width: var(--border-width) var(--border-width) calc(var(--border-width) * 2) var(--border-width)
}

*:focus-visible {
	outline: solid var(--border-width) var(--color-gray-100);
	outline-offset: var(--border-width);
}