:root {
	--font-family: Manrope, -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
}

* {
	font-family: var(--font-family);
}

/* Headings */
h1 {
	font-size: 3rem;
	margin-bottom: 1.5rem;
	font-weight: var(--font-weight-bold);
}

h2 {
	margin-top: 0;
	font-size: 2rem;
	margin-bottom: 1.5rem;
	font-weight: var(--font-weight-bold);
}

h3 {
	margin-bottom: 0.25rem;
	font-weight: var(--font-weight-strong);
}

hgroup {
	text-wrap: balance;
	margin-bottom: 1.5rem;

	h1,
	h2,
	h3 {
		margin-bottom: 0;
	}
}

p,
figcaption {
	max-width: var(--line-max-length);
	line-height: var(--line-height);
	text-wrap: var(--line-wrap);

	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	& + ul {
		margin-top: 0;
	}
}

ul:not([class]) li {
	max-width: var(--line-max-length);
	line-height: var(--line-height);
	text-wrap: var(--line-wrap);

	& + li {
		margin-top: 0.5rem;
	}
}

hr {
	border: 0.5px solid #c2c2c2;
	margin-bottom: 1.5rem;
}

.font-display-large {
	font-size: var(--font-display-large);
}

.font-display-medium {
	font-size: var(--font-display-medium);
}

.font-display-small {
	font-size: var(--font-display-small);
}
