button {
	background-color: #fff;
	border: solid 3px var(--primary-action);
	box-shadow: none;
	padding: 0.35em 0.75em;
	font-size: 1.1rem;
	border-radius: 50px;
	font-weight: 600;
	color: var(--text-color);

	&:hover {
		background-color: var(--primary-action);
		color: var(--text-color-inverse);
	}
}