button {
	background-color: var(--primary-action);
	padding: 4px 12px;
	font-size: 1.1rem;
	border-radius: var(--border-radius-xs);
	font-weight: var(--font-weight-bold);
	color: var(--text-color);
	gap: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: var(--card-border-width) solid var(--color-gray-100);
	box-shadow: var(--card-border-width) calc(var(--card-border-width) * 2) 0 0
		var(--card-border-color);

	&:has(img) {
		padding: 4px 12px 4px 8px;
	}

	&:hover:enabled {
		background-color: var(--primary-action);
		color: var(--text-color-inverse);

		& > img {
			filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(265deg)
				brightness(112%) contrast(100%);
		}
	}

	&:active:enabled {
		@extend :hover;

		background-color: var(--primary-action-active);
	}

	&:disabled {
		border-style: dashed;
		background-color: var(--color-gray-50);
		border-color: var(--color-gray-90);
		color: #000;
	}

	& > img {
		transform: scale(0.75);
	}

	& > img,
	& > span {
		vertical-align: middle;
	}
}
