button {
	background-color: #fff;
	border: solid 3px var(--primary-action);
	box-shadow: none;
	padding: 0.35em 0.75em;
	font-size: 1.1rem;
	border-radius: 50px;
	font-weight: 600;
	color: var(--text-color);

	&:hover:enabled {
		background-color: var(--primary-action);
		color: var(--text-color-inverse);
	}

	&:disabled {
		border-style: dashed;
		background-color: var(--color-gray-50);
		border-color: var(--color-gray-90);
		color: #000;
	}
}