
/* Card */
.card-group {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	gap: 1rem;
}

ul.card-group {
	display: flex;
	flex-wrap: wrap;
}

ul.card-group .card {
	flex-basis: 16rem;
}

.card {
	background-color: var(--container-background-color);
	border-radius: var(--border-radius-medium);
	overflow: hidden;
	border: var(--tile-border-style);
	border-width: var(--tile-border-width);
	padding: 1rem 1.5em 1.5rem 1.5em;
	display: flex;
	flex-direction: column;

	&:has(img) {
		padding: 0;
	}

	> div {
		padding: 1rem 1.5em 1.5rem 1.5em;
		display: flex;
    	flex-direction: column;
		text-wrap: pretty;
		flex-grow: 1;

		p {
			flex-grow: 1;
		}

		> a:first-child {
			font-size: var(--font-display-small);
		}
	}
}

@media only screen and (min-width: 768px) {
	.card .card {
		padding: 2rem 2.5em 2.5rem 2.5em;
	}
}

a.card-link {
	top: 10px;
	position: absolute;
	background-color: var(--background-color);
	padding: 1rem;
	right: 11px;
	border-radius: var(--border-radius-medium);
	border: var(--primary-action) 2px solid;
}



/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	margin: 0;
}
.postlist-item {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.card.postlist-item {
	flex-grow: 1;
}

.postlist-date {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	margin-bottom: 0.5rem;
}
.postlist-item p:first-of-type {
	flex-grow: 1;
}