/* Card */
.card-group {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	gap: 1rem;
}

.card {
	background-color: var(--container-background-color);
	border-radius: var(--container-border-radius);
	padding: 1rem 1.5em 1.5rem 1.5em;
	display: flex;
	flex-direction: column;
	transition: all 250ms ease-in-out;
	border: var(--card-border-width) solid var(--color-gray-100);
	text-wrap: pretty;

	&.interactive {
		position: relative;
		cursor: pointer;
		box-shadow: var(--card-border-width) calc(var(--card-border-width) * 2) 0 0
			var(--card-border-color);

		p a {
			position: relative;
			padding: 0.5rem 0.5rem 0.5rem 0;
		}

		// Credit to Heydon Pickering's https://inclusive-components.design/cards/
		& > a:first-of-type::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	&.full-bleed {
		padding: 0;
	}

	&.transparent {
		background-color: transparent;
	}

	> div {
		padding: 1rem 1.5em 1.5rem 1.5em;
		display: flex;
		flex-direction: column;
		text-wrap: pretty;
		flex-grow: 1;

		p {
			flex-grow: 1;
		}

		> a:first-child {
			font-size: var(--font-display-small);
		}
	}
}

img.card {
	background-color: var(--card-border-color);
}

a.card-link {
	top: 10px;
	position: absolute;
	background-color: var(--background-color);
	padding: 1rem;
	right: 11px;
	border-radius: var(--border-radius-medium);
	border: var(--primary-action) 2px solid;
}

/* Articles list */
.articlelist {
	list-style: none;
	padding: 0;
	margin: 0;
}
.articlelist-item {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

// .card.articlelist-item {
// 	flex-grow: 1;
// }

.articlelist-date {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.articlelist-date {
	word-spacing: -0.5px;
}
.articlelist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	margin-bottom: 0.5rem;
}
.articlelist-item p:first-of-type {
	flex-grow: 1;
}

@media only screen and (min-width: 768px) {
	.card .card {
		padding: 2rem 2.5em 2.5rem 2.5em;
	}
}

@media (prefers-reduced-motion: no-preference) {
	.card.interactive {
		&:hover,
		&:has(a:focus) {
			transform: translate(
				calc(var(--card-border-width) / 2),
				calc(var(--card-border-width))
			) !important;
			box-shadow: calc(var(--card-border-width) / 2)
				calc(var(--card-border-width)) 0 0 var(--card-border-color);
		}
	}
}
