header {
    background-color: var(--container-background-color);
    margin-bottom: 3rem;

    &.header__smallviewport {
        background-color: #ffffff;

        .container {
            flex-direction: column;
            align-items: flex-start;

            nav { 
                margin-left: 0;

                ul {
                    display: block;
                    flex-direction: column;

                    li {
                        line-height: 2;

                        a {
                            font-size: 2rem;
                        }
                    }
                } 
            }
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 1.5em 1em;
        column-gap: 2rem;
        row-gap: 1rem;

        body.no-js & {
            flex-direction: column;
            align-items: flex-start;
        }

        a#logo {
            font-size: 1.3rem;
            font-weight: 600;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            gap: 8px;

            &:visited {
                color: var(--text-color-link);
            }

            &:hover,
            &:active,
            &:focus-visible {
                text-decoration: underline;
            }

            img {
                height: 3.5rem;
                border-radius: 100%;
                border: 3px solid var(--primary-action);
            }
        }

        nav {
            gap: 1em 0.5em;
            flex-wrap: wrap;
            align-items: center;
            border-radius: 100px;
            margin: 0;
            margin-left: auto;
            list-style: none;

            body.no-js & {
                margin-left: 0;
            }

            #menu-button {
                body.no-js & {
                    display: none;
                }
            }

            ul {
                flex-direction: row;
                gap: 2rem;
                display: none;

                body.no-js & {
                    display: block;
                }
            }

            a[href] {
                color: var(--nav-color-link);
                font-size: 1.2rem;
                font-weight: 500;
            }

            a[href][aria-current="page"] {
                text-decoration: underline;
            }
        }

        @media only screen and (min-width: 768px) {
        
            nav {
                margin-left: 0;

                #menu-button {
                    display: none;
                }

                ul {
                    display: flex;
                }
            }
        }
    }
}