header {
    background-color: var(--background-color);
    margin-bottom: 2rem;

    .top {
        display: flex;
        
        #menu-button--close {
            display: none;
            border: none;
            border-radius: 100px;
            padding: 4px 10px;
        }
    }

    &.header__smallviewport {
        background-color: #ffffff;

        .container {
            flex-direction: column;
            align-items: flex-start;

            .top {
                width: 100%;

                span {
                    flex-grow: 1;
                }
            }

            nav { 
                text-align: right;
                margin-left: auto;
                margin-right: 16px;

                ul {
                    display: block;
                    flex-direction: column;

                    li {
                        line-height: 2;

                        a {
                            font-size: 2rem;
                        }
                    }
                } 
            }
        }
    }

    .container {
        display: flex;
        padding: 1.5em 1em;
        align-items: center;
        column-gap: 4rem;
        row-gap: 1rem;

        body.no-js & {
            flex-direction: column;
            align-items: flex-start;
        }

        #logo {
            font-size: 1.3rem;
            font-weight: 400;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            gap: 8px;

            img {
                height: 3.5rem;
                border-radius: 100%;
                border: 3px solid var(--primary-action);
            }
        }

        nav {
            gap: 1em 0.5em;
            flex-wrap: wrap;
            align-items: center;
            border-radius: 100px;
            margin: 0;
            margin-left: auto;
            list-style: none;

            body.no-js & {
                margin-left: 0;
            }

            #menu-button--open {
                body.no-js & {
                    display: none;
                }
            }

            ul {
                flex-direction: row;
                gap: 2rem;
                display: none;

                body.no-js & {
                    display: block;
                }
            }

            a[href] {
                color: var(--nav-color-link);
                font-size: 1.2rem;
                font-weight: 600;
            }

            a[href][aria-current="page"] {
                text-decoration-thickness: 3px;
                text-decoration-style: dotted;
                color: var(--primary-action);
            }
        }

        @media only screen and (min-width: 768px) {
        
            nav {
                margin-left: 0;

                #menu-button--open {
                    display: none;
                }

                ul {
                    display: flex;
                }
            }
        }
    }
}