a[href].primary {
	background-color: transparent;
	border: solid 3px var(--primary-action);
	box-shadow: none;
	padding: 0.5em 0.75em;
	font-size: 1.1rem;
	border-radius: var(--border-radius-small);
	font-weight: 600;
	display: inline-block;
	margin-top: 1rem;
}

a[href] {
	color: var(--text-color-link);
	text-underline-offset: 0.25rem;
	border-radius: var(--border-radius-extra-small);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active,
a[href]:focus-visible {
	color: var(--text-color-link-active);
	text-underline-offset: 0.15rem;
	transition: text-underline-offset 250ms ease-out;
}

.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: 0.1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}