/* Tags */
.article-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.articlelist-item > .article-tag {
	align-self: center;
}

/* Tags list */
.article-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0 0 1rem 0;
	margin: 0;
}
.article-metadata time {
	margin-right: 1em;
}
