---
import { getCollection } from "astro:content";

const pastEvents = await getCollection("pastSpeakingEvents");
---

<section class="past-speaking-events">
  <h2>Past Events</h2>
  <div>
    {
      pastEvents.map((event) => (
        <section class="card">
          <h3>{event.data.title}</h3>
          <a href={event.data.link} target="_blank">
            {event.data.linkText}
          </a>
        </section>
      ))
    }
  </div>
</section>

<style>
  .card {
    margin-bottom: var(--spacing-l);
  }
</style>
