.visually-hidden:not(.link-skip:focus) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.link-skip-wrapper:has(.link-skip:focus) {
	display: block;
	padding: 8px 1rem;
	top: 0;
	left: 0;
	background-color: var(--container-background-color);
	width: 100%;
}

.container {
	max-width: 65rem;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem 0 1rem;
}

section {
	margin-bottom: 6rem;
}
