#about {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 4rem;

    div:last-child {
        flex-basis: 15rem;
        flex-grow: 1;
    }

    img {
        background-color: var(--container-background-color);
        border-radius: var(--border-radius-medium);
        overflow: hidden;
        border: var(--tile-border-style);
        border-width: var(--tile-border-width);
    }
}

#values {
    .card-group {
        margin-top: 1.5rem;
    }
}