#intro {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	gap: 3rem;
	margin-top: 3rem;

	img {
		transition: rotate;
		transition-property: transform;
		transition-duration: 250ms;
	}

	//headline
	> div:first-child {
		padding: 3rem 0 4rem 0;

		h1 {
			font-size: 2rem;
			margin: 0;
		}
	}

	//highlights
	> div:last-child {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.card {
			position: relative;
			overflow: visible;

			&:first-child {
				background-color: var(--color-accent-1);

				img {
					position: absolute;
					transform: scale(0.35);
					right: -1000px;
					top: -140px;
					max-width: initial;
				}
			}

			&:last-child {
				background-color: var(--color-accent-2);

				img {
					position: absolute;
					transform: scale(0.35);
					left: -1924px;
					bottom: -130px;
					max-width: initial;
				}
			}
		}
	}

	a {
		font-size: var(--font-display-medium);
		display: inline-block;
	}
}

@media only screen and (min-width: 768px) {
	body #intro > div:first-child h1 {
		font-size: 3.25rem;
	}
}

@media (prefers-reduced-motion: no-preference) {
	body #intro div.card.interactive:hover img {
		transform: scale(0.35) rotate(-1deg);
	}
}
