#intro {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	gap: 1rem;

	div {
		border-radius: var(--border-radius-medium);
	}

	> div:first-child {
		background-color: #a6ffee;
		padding: 30px;
		border: var(--tile-border-style);
		border-width: var(--tile-border-width);

		h1 {
			font-size: var(--font-display-small);
			margin: 0;
		}
	}

	> div:last-child {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		div {

			&:first-child {
				background-color: #fef4d3;
				flex-grow: 1;
				padding: 30px;
				border: var(--tile-border-style);
				border-width: var(--tile-border-width);
			}

			&:last-child {
				background-color: #d7d3fe;
				padding: 30px;
				border: var(--tile-border-style);
				border-width: var(--tile-border-width);
			}

			strong {
				font-size: 1.25rem;
			}
		}
	}

	a {
		font-size: var(--font-display-medium);
		display: inline-block;
	}
}

@media only screen and (min-width: 768px) {
	body #intro > div:first-child {
		padding: 60px;
	}
}