#intro {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	gap: 2rem;

	div {
		border-radius: var(--border-radius-medium);
	}

	> div:first-child {
		background-color: transparent;
		padding: 0;
		border: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: var(--font-display-large);

		h1 {
			font-size: var(--font-display-medium);
			margin: 0;
		}
	}

	> div:last-child {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		div {
			box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.05);
			background-color: #ffd8d0;

			&:first-child {
				flex-grow: 1;
				padding: 30px;
			}

			&:last-child {
				padding: 30px;
			}

			strong {
				font-size: 1.25rem;
			}
		}
	}

	a {
		font-size: var(--font-display-medium);
		display: inline-block;
	}
}

@media only screen and (min-width: 768px) {
	body #intro > div:first-child {
		padding: 0;
	}
}
