/* Defaults */
:root {
	--font-family: Manrope, -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
}

/*  Core Tokens */
:root {
	--color-gray-0: #fefefe;
	--color-gray-10: #f7f7f7;
	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #333333;
	--color-gray-100: #000000;

	--border-radius-large: 24px;
	--border-radius-medium: 16px;
	--border-radius-small: 8px;
	--border-radius-extra-small: 2px;

	--syntax-tab-size: 2;
}

/* Semantic Tokens */
/* light mode */
:root {
	--background-color: var(--color-gray-10);

	--container-border-radius: var(--border-radius-large);
	--container-background-color: var(--color-gray-0);

	--text-color: var(--color-gray-90);
	--text-color-link: var(--color-gray-90);
	--text-color-link-active: #00596b;
	--text-color-link-visited: #b70066;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
	:root {
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}
header,
main,
footer > div {
	max-width: 55rem;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem 2rem 1rem;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
	margin-top: 0;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
	text-underline-offset: 0.25rem;
	border-radius: var(--border-radius-extra-small);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active,
a[href]:focus-visible {
	color: var(--text-color-link-active);
	text-underline-offset: 0.15rem;
	transition: text-underline-offset 250ms ease-out;
}

main :first-child {
	margin-top: 0;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: 0.5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em 0.5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
	border-radius: 100px;
	margin-top: 0.5rem;
}

header a[href],
header a[href]:visited {
	color: var(--nav-color-link);
}

.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Card */
.card-group {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
	gap: 1rem;
}

ul.card-group {
	display: flex;
	flex-wrap: wrap;
}

ul.card-group .card {
	flex-basis: 16rem;
}

.card {
	padding: 1rem 1.5em 1.5rem 1.5em;
	border-radius: var(--container-border-radius);
	background-color: var(--container-background-color);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
	.card .card {
		padding: 2rem 2.5em 2.5rem 2.5em;
	}
}

a.card-link {
	top: 10px;
	position: absolute;
	background-color: #fff;
	padding: 1rem;
	border-radius: 15px;
	right: 11px;
	border-radius: var(--border-radius-medium);
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	margin: 0;
}
.postlist-item {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	border-radius: 16px;
}

.card.postlist-item {
	flex-grow: 1;
}

.postlist-date {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: 0.1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

/* Headings */
h1 {
	font-size: 2.5rem;
}

@media only screen and (min-width: 768px) {
	h1 {
		font-size: 3.25rem;
	}
}

hgroup {
	padding-top: 4rem;
}

hgroup h1 {
	margin: 0;
}

hgroup p {
	margin: 0;
	font-size: 1.5rem;
	font-weight: 500;
}

h2 + .header-anchor {
	font-size: 1.5rem;
}

h3:has(+ p) {
	margin-bottom: 0.25rem;
}

/* Intro */
#intro {
	display: flex;
	flex-wrap: wrap;
	column-gap: 4rem;
	row-gap: 2rem;
	justify-content: center;
}

#intro > *:first-child {
	flex-grow: 1;
	flex-basis: 20rem;
}

#intro > *:last-child {
	max-width: 20rem;
}

#intro img {
	padding: 0;
	width: auto;
	max-width: 100%;
	margin: auto;
}

section:not(:last-of-type) {
	margin-bottom: 4rem;
}

/* Recents */
#recents {
	/* background-color: #e1d0ea; */
	background-color: transparent;
	box-shadow: none;
	padding: 0;
}

#recents > div {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

#recents > div h2 {
	flex-grow: 1;
}

#recents .card {
	background-color: #e1d0ea;
}

*:focus-visible {
	outline: solid 4px #000000;
	outline-offset: 4px;
}

#recents .card:focus-within {
	outline: solid 4px #000000;
}

#recents .card a:focus {
	outline: none;
}

/* Resources */
#resources {
	/* background-color: #90dbf4; */
	background-color: transparent;
	box-shadow: none;
	padding: 0;
}

/* About values */
#values .card-group {
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

#values .card-group .card:nth-child(4) {
	background-color: #ffba78;
}

#values .card-group .card:nth-child(3) {
	background-color: #ffcc84;
}

#values .card-group .card:nth-child(2) {
	background-color: #ffd991;
}

#values .card-group .card:nth-child(1) {
	background-color: #ffe69e;
}

/* Posts */
#posts .card-group {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

html:has(#posts),
body:has(#posts) {
	background-color: #e1d0ea;
}

/* Footer */
footer {
	margin-top: 2rem;
	background-color: #fff;
	padding-top: 2rem;
	padding-bottom: 4rem;
}

footer > div {
	display: flex;
	flex-wrap: wrap;
	row-gap: 2rem;
	column-gap: 4rem;
	padding-bottom: 0;
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
