---
layout: layouts/base.njk
eleventyNavigation:
  key: About Me
  order: 4
---

<h1>About Me</h1>

<section id="intro">
  <div>
    <p>I'm a Design Systems and Accessibility Designer at CVS Health. 
      By being embedded in the design system team, I coach and give 
      expert advice on building accessible design systems on topics such as:</p>

      <ul>
        <li>designing and developing components</li>
        <li>creating education for system usage</li>
        <li>exploring design tokens and theming</li> 
        <li>defending platform expectations</li>
      </ul>

    <p>I also represent CVS Health in the <a href="https://www.w3.org/WAI/GL/">W3C Accessibility Guidelines Working Group &#40;AGWG&#41;</a>, where I will be contributing to the next major version of accesibility guideines,
    WCAG 3.0.</p>
  </div>
  <img class="card" src="/img/profile.JPG" alt="A smiling white male with short, red hair, standing in the center of the image, wearing a dark blue jumper." />
</section>

<section id="why-im-here">
    <h2>Why I'm here</h2>
    <p>I started my career as a full-stack engineer, but as time passed I found myself physically shifting-left to user experience design; earning my 
      <a href="https://www.nngroup.com/ux-certification/people/">Nielson Norman Group UX certifcation</a>, specializing in interaction design.
      I am now in my happy place, where I can apply all I have learned from each major discipline to create truly accessible digital products.
    </p>

    <p>Creating those accessible experiences is my passion,
    I don't know why. All I know is that the inclusive desgn process, the folks I work with, 
    and the positive impact I'm able have on people's lives gives me this feeling
    of wonder and excitement that I haven't been able to consistently replicate
    anywhere else.<p>

    <p>Maybe I should get out more?</p>

    <p>The fact I get to do this everyday whilst providing
    for my wife &#40;Emma&#41;, dog &#40;Ashwa&#41; and guinea pigs &#40;Pookie &amp; Nutmeg&#41; is a privilege I'm grateful for every day.</p>
</section>

<section id="values">
  <h2>My core principles</h2>

  <div class="card-group">
    <div class="card">
      <h3>Accessibility is not binary</h3>
      <p>It's all too common to see people misunderstand accessiblity
        as thinking they just need to pass the WCAG success criteria.</p>
        
      <p>But aim above and beyond towards the principles of accessible
        content &#40;perceivable, operable, understandable, and robust&#41;.
      </p>

      <p>The only way to know if that goal has been acheived is through interative and inclusive user research studies.</p>
    </div>

    <div class="card">
      <h3>Continuously learning</h3>
      <p>Mistakes areinevitable, and if everything goes to plan I'll 
        continue to make more so that I can improve myself 
        and the digital experiences I create.</p>

      <p>The needs of the disability community are complex and evolving. I know 
      that I don't fully understand it all, but I commit to always strive to design 
      <strong>with</strong> disabled people in order to facilitate a true inclusive design process.</p>
    </div>

    <div class="card">
      <h3>Gatekeepers suck</h3>
      <p>I cannot comprehend how I've benefited from the great people who came before me, or
      the time and knowledge people have graciously given me.</p>
      
      <p>My aim is to never silo what I've learned. That way other people may benefit the same way 
        I have, so that we can continue to improve our society and create an inclusive future.</p>
    </div>

    <div class="card">
      <h3>Always welcome feedback</h3>
      <p>As the kid with the red hair, I was picked on a lot growing up. But, this
      quickly helped me learn how to grow a thick skin.</p>
        
      <p>This gave me the confidence to regularly ask for feedback on my ideas and
      performance - even if I knew it could be critical.</p>

      <p><strong>If you feel I am ever not following my own principles, please reach out to me so I can make changes.</strong></p>
    </div>
  </div>
</section>