---
layout: layouts/base.njk
eleventyNavigation:
  key: About Me
  order: 4
---

<h1>About Me</h1>

<section id="intro">
  <div>
    <h2>Why I'm here</h2>
    <p>I love creating accessible digital experiences. There I said it. It's my passion,
    I don't know why, but the process, people, and impact I can have on the world gives me this feeling
    of wonder and excitement that I haven't been able to consistently replicate
    anywhere else.<p>

    <p>Maybe I should get out more?</p>

    <p>But the fact I get to do this everyday to provide
    for my wife (Emma), dog (Ashwa) and guinea pigs (Pookie &amp; Nutmeg) is a privilege
    that I don't think I will truly ever appreciate.</p>
  </div>
  <img class="card" src="/img/profile.JPG" alt="A smiling while male with short, red hair, standing in the center of the image, wearing a dark blue jumper." />
</section>

<section id="values">
  <h2>My core values</h2>

  <div class="card-group">
    <div class="card">
      <h3>Always evaluate and take on feedback, even if it is critical.</h3>
      <p>As the kid with the red hair, I was picked on a lot growing up, but this
      quickly helped me learn how to grow a thick skin. The callouses that formed
      gave me the ability to ask tough questions on what I have created, or
      my performance; even if I knew it could be critical. However, this is
      important to me as one of my methods of reflection, so I can improve
      and produce better products.</p>
    </div>

    <div class="card">
      <h3>Continuous learning</h3>
      <p>Getting feedback is no good without applying those learnings. Mistakes are
      inevitable, ask my wife, I've made lots and if everything goes to plan, I'll
      continue to do so. But I see that as a good thing, as long as I'm moving forwards.</p>

      <p>The disability community is complex and always evolving. I know that I don't fully understand
      all the needs that exist, but I commit to always striving to design <strong>with</strong> disabled folks to
      truly represent the people that I advocate for.</p>
    </div>

    <div class="card">
      <h3>Gatekeepers suck</h3>
      <p>I can't comprehend how I benefited from the great people who came before I, and
      the time + knowledge people have graciously given me. My aim is to never silo my
      knowledge that way the people right now, and in the future may benefit from what
      I have learned over the years to improve our society and create an inclusive future.</p>
    </div>

    <div class="card">
      <h3>Challenge me</h3>
      <p>If you feel I am ever not achieving these values, please reach out to me so I can make things right.</p>
    </div>
  </div>
</section>