---
layout: layouts/home.njk
eleventyNavigation:
  key: Posts
  order: 2
---
<h1>Posts</h1>
<p>Sorry it is a little empty around here at the moment. I'm just getting started, so expect more action in the future!</p> 

<div id="posts">
{% set postslist = collections.posts %}
{% include "allPosts.njk" %}
</div>
