<ul reversed class="card-group postlist">
{% for post in postslist | reverse %}
	<li class="card postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		<p>Description of post goes here with super duper duper long. Hopefully it all fits okay.</p>
		<p><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time></p>
	</li>
{% endfor %}
</ul>
