---
layout: layouts/base.njk
---

<h1>{{ title }}</h1>

{% include "partials/alert.njk" %}

<ul class="article-metadata">
	<li>
		<strong
      >
			<time datetime="{{ page.date | htmlDateString }}"
        >{{ page.date | readableDate }}</time
      >
		</strong
    >
	</li>
	{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify
  }}/{% endset %}
		<li>
			<a href="{{ tagUrl }}" class="article-tag">{{ tag }}</a>
			{%- if not loop.last
    %}, {% endif %}
		</li>
	{%- endfor %}
</ul>

{{ content | safe }}
{%- if collections.articles %}
	{%- set previousArticle =
collections.articles | getPreviousCollectionItem %}
	{%- set nextArticle =
collections.articles | getNextCollectionItem %}
	{%- if nextArticle or previousArticle %}
		<ul class="links-nextprev">
			{%- if previousArticle %}
				<li>
    Previous:
    <a href="{{ previousArticle.url }}">{{ previousArticle.data.pageTitle }}</a>
				</li>
			{% endif %}
			{%- if nextArticle %}
				<li>Next: <a href="{{ nextArticle.url }}">{{ nextArticle.data.pageTitle }}</a>
				</li>
			{% endif %}
		</ul>
	{%- endif %}
{%- endif %}