{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>
      {{eleventyNavigation.key or pageTitle}} - {{ title or metadata.title }}
    </title>
    <meta
      name="description"
      content="{{ description or metadata.description }}"
/>

    {#- Atom and JSON feeds included by default #}
    <link
      rel="alternate"
      href="/feed/feed.xml"
      type="application/atom+xml"
      title="{{ metadata.title }}"
/>
    <link
      rel="alternate"
      href="/feed/feed.json"
      type="application/json"
      title="{{ metadata.title }}"
/>

    <meta name="generator" content="{{ eleventy.generator }}"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <link rel="manifest" href="/manifest.json">

    <style>
      {% include "css/critical.css" %}
    </style>

    <script src="/js/main.js" defer></script>
  </head>
  <body class="no-js">
    <a href="#skip" class="visually-hidden">Skip to main content</a>

    {% include "partials/header.njk" %}

    <main id="skip" class="container">{{ content | safe }}</main>

    {% include "partials/footer.njk" %}
  </body>
</html>