{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<title>
			{{eleventyNavigation.key or pageTitle}} - {{ title or metadata.title }}
		</title>
		<meta
      name="description"
      content="{{ description or metadata.description }}"
/>

		{#- Atom and JSON feeds included by default #}
		<link
      rel="alternate"
      href="/feed/feed.xml"
      type="application/atom+xml"
      title="{{ metadata.title }}"
/>
		<link
      rel="alternate"
      href="/feed/feed.json"
      type="application/json"
      title="{{ metadata.title }}"
/>

		<meta name="generator" content="{{ eleventy.generator }}"/>

		<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
		<link rel="shortcut icon" href="/img/favicon/favicon.ico">
		<link rel="manifest" href="/manifest.json">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

		<script src="/js/main.js" async></script>

		<style>
			{% include "css/critical.css" %}
		</style>
	</head>
	<body>
		<div style="overflow-x: hidden">
			<div class="link-skip-wrapper">
				<a href="#skip" class="visually-hidden link-skip">Skip to main content</a>
			</div>

			{% include "partials/header.njk" %}

			<main id="skip" class="container">{{ content | safe }}</main>

			{% include "partials/footer.njk" %}
		</div>
	</body>
</html>