---
layout: layouts/base.njk
---

<h1>{{ title }}</h1>

{% include "partials/alert.njk" %}

<ul class="post-metadata">
  <li>
    <strong
      ><time datetime="{{ page.date | htmlDateString }}"
        >{{ page.date | readableDate }}</time
      ></strong
    >
  </li>
  {%- for tag in tags | filterTagList %} {%- set tagUrl %}/tags/{{ tag | slugify
  }}/{% endset %}
  <li>
    <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last
    %}, {% endif %}
  </li>
  {%- endfor %}
</ul>

{{ content | safe }} {%- if collections.posts %} {%- set previousPost =
collections.posts | getPreviousCollectionItem %} {%- set nextPost =
collections.posts | getNextCollectionItem %} {%- if nextPost or previousPost %}
<ul class="links-nextprev">
  {%- if previousPost %}
  <li>
    Previous:
    <a href="{{ previousPost.url }}">{{ previousPost.data.pageTitle }}</a>
  </li>
  {% endif %} {%- if nextPost %}
  <li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.pageTitle }}</a></li>
  {% endif %}
</ul>
{%- endif %} {%- endif %}
