---
layout: layouts/base.njk
---

<article id="work-article">
	<h1>{{ title }}</h1>

	{{ content | safe }}
	{%- if collections.articles %}
		{%- set previousArticle =
collections.articles | getPreviousCollectionItem %}
		{%- set nextArticle =
collections.articles | getNextCollectionItem %}
		{%- if nextArticle or previousArticle %}
			<ul class="links-nextprev">
				{%- if previousArticle %}
					<li>
    Previous:
    <a href="{{ previousArticle.data.eleventyNavigation.url or previousArticle.url }}">{{ previousArticle.data.pageTitle }}</a>
					</li>
				{% endif %}
				{%- if nextArticle %}
					<li>Next: <a href="{{ nextArticle.data.eleventyNavigation.url or nextArticle.url }}">{{ nextArticle.data.pageTitle }}</a>
					</li>
				{% endif %}
			</ul>
		{%- endif %}
	{%- endif %}
</article>