---
import Layout from '@layouts/base.astro';
import Hero from '@components/Hero.astro';
import ProfilePicture from '@components/ProfilePicture.astro';
import { pageConfig } from '@config/root-page-config';
import FeaturedLinks from '@components/featured-links.astro';
import FeaturedLink from '@components/featured-link.astro';
---

<Layout
  pageTitle="Daniel Henderson-Ede"
  pageTitleOverride
  pageDescription="Helping to create an inclusive design system and improve accessibility annotations. Views are my own."
  ogType="website"
>
  <Hero>
    <div slot="start">
      <h1 id="full-heading" aria-labelledby="full-heading">
        Hello, I'm Daniel.
      </h1>
      <p>Senior Design Engineer</p>
      <p><span aria-hidden="true">🇺🇸</span> Texas, USA</p>
    </div>
    <div slot="end">
      <ProfilePicture size="small" />
      <div>
        <FeaturedLink
          title="About me"
          href={`/${pageConfig.about.slug}`}
          type="small"
          noAnimation
        />
        <p>
          I make complex things simple. Over 8+ years at Pinterest, CVS Health,
          and the UK Government, I've been the bridge between beautiful design
          and bulletproof code. As a Design Engineer, I ship accessible,
          scalable solutions that work for everyone, from prototyping new ideas
          to creating systems used by millions. I believe the best products
          happen when design and engineering speak the same language.
        </p>
      </div>
    </div>
  </Hero>
  <FeaturedLinks />
</Layout>

<style>
  h1 {
    font-size: clamp(2rem, 14vh, 5rem);
  }

  @media (max-width: 960px) {
    h1 {
      font-size: var(--font-size-dynamic-mxl);
    }
  }
</style>
