---
import Layout from '@layouts/base.astro';
import Hero from '@components/Hero.astro';
import ProfilePicture from '@components/ProfilePicture.astro';
import { pageConfig } from '@config/root-page-config';
import FeaturedLinks from '@components/featured-links.astro';
import FeaturedLink from '@components/featured-link.astro';
---

<Layout
  pageTitle="Daniel Henderson-Ede"
  pageTitleOverride
  pageDescription="Helping to create an inclusive design system and improve accessibility annotations. Views are my own."
  ogType="website"
>
  <Hero>
    <div slot="start">
      <h1 id="full-heading" aria-labelledby="full-heading">
        Hello, I'm Daniel.
      </h1>
      <p>Senior Design Engineer</p>
      <p><span aria-hidden="true">🇺🇸</span> Texas, USA</p>
    </div>
    <div slot="end">
      <ProfilePicture size="small" />
      <div>
        <FeaturedLink
          title="About me"
          href={`/${pageConfig.about.slug}`}
          type="small"
          noAnimation
        />
        <p>
          I've spent the last 8+ years making complex things simpler at
          companies like Pinterest, CVS Health, and the UK Government. As a
          Design Engineer, I love building systems that make are accessible for
          everyone.
        </p>
      </div>
    </div>
  </Hero>
  <FeaturedLinks />
  <!-- <section>
    <h2>Featured Projects</h2>
    <h3>Pinterest – Foundations for Scalable Accessibility</h3>
    <p>
      Built the accessibility infrastructure inside one of the world's most-used
      design systems. Led cross-functional work on annotations, component
      audits, and team education.
    </p>
    <h3>Project 2 – e.g. "Design + Code for Healthcare App"</h3>
    <p>
      Redesigned key workflows and delivered production-ready components that
      improved both usability and accessibility for patients navigating care.
    </p>
    <h3>Project 3 – e.g. "Tooling for Accessible Design Feedback"</h3>
    <p>
      Developed a lightweight review system that helped product teams catch
      issues early and ship with more confidence—without needing a full audit.
    </p>
    <LinkCTA href="/work" loading="eager">View my work</LinkCTA>
  </section>
  <section>
    <h2>About me</h2>
    <p>
      I'm a designer with an engineering brain and an accessibility lens. I've
      worked across the stack—from writing alt text guidance to shipping
      production components—and I specialize in bringing clarity to complex
      systems. My favorite projects live at the intersection of design, dev, and
      inclusion.
    </p>
    <LinkCTA href="/about" loading="eager">More about me</LinkCTA>
  </section>

  <ResourceFeaturedItems>
    <h2 slot="heading">Resources</h2>
  </ResourceFeaturedItems> -->
</Layout>

<style>
  h1 {
    font-size: clamp(2rem, 14vh, 5rem);
  }

  @media (max-width: 960px) {
    h1 {
      font-size: var(--font-size-dynamic-mxl);
    }
  }
</style>
