---
import Layout from '@layouts/base.astro';
import { pageConfig } from '@config/root-page-config';
import RecentArticles from '@components/features/articles/RecentArticles.astro';
import FeaturesTools from '@components/features/tools/FeaturesTools.astro';
---

<Layout
  pageTitle={pageConfig.resources.pageTitle}
  pageDescription={pageConfig.resources.description}
  ogType="website"
>
  <h1>{pageConfig.resources.pageTitle}</h1>
  <RecentArticles />
  <FeaturesTools />
</Layout>

<style></style>
