---
import Layout from '@layouts/Base.astro';
import { pageConfig } from '@config/navigation/rootPageConfig';
import RecentArticles from '@components/features/articles/RecentArticles.astro';
import FeaturesTools from '@components/features/tools/FeaturesTools.astro';
---

<Layout
  pageTitle={pageConfig.resources.pageTitle}
  pageDescription={pageConfig.resources.description}
  ogType="website"
>
  <h1>{pageConfig.resources.pageTitle}</h1>
  <FeaturesTools />
  <RecentArticles />
</Layout>

<style></style>
