<footer>
    <div>
        <div>
            <h2>Contact me:</h2>
            <ul>
                <li><a href="mailto:daniel@hendersonede.com">Email</a></li>
                <li><a href="https://www.linkedin.com/in/danhendersonede/">LinkedIn</a></li>
                <li><a href="https://www.figma.com/@danhendersonede">Figma</a></li>
                <li><a href="https://github.com/danhendersonede">GitHub</a></li>
                {# <li><a href="#">Online hangout</a></li> #}
            </ul>
        </div>
        {# <div>
            <h2>Web rings:</h2>
        </div> #}
    </div>
</footer>