---
layout: layouts/base.njk
eleventyNavigation:
  key: About Me
  order: 5
---

<h1>About Me</h1>

<section id="about">
	<div class="card">
		<p>
     I have 7+ years of experience working at large organizations like Pinterest, CVS Health, and the UK Government.</p>
		<p>I'm currently Head of Systems &amp; Technology at <a href="https://mantisandco.com/" target="_blank">Mantis &amp; Co</a>; a disability-owned inclusive design and accessibility agency, creating tools and providing coaching to design, engineering, and product teams so they can:
			<ul>
				<li>understand and meet the needs of people with disablities</li>
				<li>reduce the amount of rework from accessibility issues</li>
				<li>expand their products to unexplored markets</li>
			</ul>
		</p>

		<p>
      Previously, I've represented CVS Health at the
      <a href="https://www.w3.org/WAI/GL/"
        >W3C Accessibility Guidelines Working Group &#40;AGWG&#41;</a
      >, contributing to the foundations of the next major version of accessibility
      guidelines, WCAG 3.0.
    </p>
	</div>
	<div>
		<img
			class="card full-bleed"
      src="/img/full/profile.JPG"
      alt="A smiling white male with short, red hair, standing in the center of the image, wearing a stripey shirt."
		/>
	</div>
</section>

<section id="why-im-here">
	<h2>Why I'm here</h2>
	<p>
    I began my career as a full-stack engineer, but as time passed I found
    myself physically shifting-left to user experience design; earning my
    <a href="https://www.nngroup.com/ux-certification/people/"
      >Nielsen Norman Group UX certification</a
    >, with a specialization in interaction design. I am now in my happy place,
    where I can apply all I have learned from each major discipline to create
    truly accessible digital products.
  </p>

	<p>
    Creating those accessible experiences is my passion, I don't know why. All I
    know is that the inclusive design process, the folks I work with, and the
    positive impact I'm able have on people's lives gives me this feeling of
    wonder and excitement that I haven't been able to consistently find
    elsewhere.
  </p>

	<p></p>

	<p>Perhaps I should get out more?</p>

	<p>
    The fact that I get to do this every day whilst providing for my wife
    &#40;Emma&#41;, dog &#40;Ashwa&#41; and guinea pigs &#40;Nutmeg, Truffle, Bournville, and Junior&#41; is a privilege I'm grateful for every day.
  </p>
</section>

<section id="values">
	<h2>My core principles</h2>
	<strong
    >If you feel I am ever not following my own principles, please
    <a href="mailto:daniel@hendersonede.com">reach out</a> to me so I can make
    changes.</strong
  >

	<div class="card-group">
		<div class="card">
			<h3>Accessibility is not binary</h3>
			<p>
        It's all too common to see people misunderstand accessibility as
        thinking they just need to pass the WCAG success criteria.
      </p>

			<p>
        But instead I aim above and beyond, focusing on the principles of
        accessible content &#40;perceivable, operable, understandable, and
        robust&#41;.
      </p>

			<p>
        The only way to know if that goal has been achieved is through iterative
        and inclusive user research studies.
      </p>
		</div>

		<div class="card">
			<h3>Continuously learning</h3>
			<p>
        Mistakes are inevitable, and if everything goes to plan I'll continue to
        make more so that I can improve myself and the digital experiences I
        create.
      </p>

			<p>
        The needs of the disability community are complex and evolving. I know
        that I don't fully understand it all, but I commit to always strive to
        design <strong>with</strong> disabled people in order to facilitate a
        true inclusive design process.
      </p>
		</div>

		<div class="card">
			<h3>Gatekeepers suck</h3>
			<p>
        I cannot comprehend how I've benefited from the great people who came
        before me, or the time and knowledge people have graciously given me.
      </p>

			<p>
        My aim is to never silo what I've learned. That way other people may
        benefit the same way I have, so that we can continue to improve our
        society and create an inclusive future.
      </p>
		</div>
	</div>
</section>

<section id="recommendations">
	<h2>What people say about me</h2>
	<blockquote class="card" cite="https://www.linkedin.com/in/danhendersonede/details/recommendations/#:~:text=On-,Daniel%20is%20one%20of%20very%20few%20people%20I%27ve%20worked%20with%20where,so%20you%27d%20best%20do%20it%20before%20you%20can%27t%20afford%20him%20anymore.,-Daniel%20is%20one">
		<p>
			Daniel consistently demonstrated a deep understanding of accessibility principles, playing a pivotal role in various initiatives. From <strong>research and training with Fable to component audits, accessibility annotations, documentation, and SME consultancy</strong>, <strong>Daniel’s expertise was invaluable</strong>. Besides, his advocacy for accessibility helped shape our training program, ensuring that our team is well-equipped to create inclusive designs.
    </p>
		<cite>
			<a href="https://www.linkedin.com/in/cintiaaaromero/">Cintia Romero</a>
			<span>Accessibility Design Lead, Pinterest</span>
		</cite>
	</blockquote>

	<blockquote class="card" cite="https://www.linkedin.com/in/danhendersonede/details/recommendations/#:~:text=On-,Daniel%20is%20one%20of%20very%20few%20people%20I%27ve%20worked%20with%20where,so%20you%27d%20best%20do%20it%20before%20you%20can%27t%20afford%20him%20anymore.,-Daniel%20is%20one">
		<p>
      Daniel is one of very few people I've worked with where <strong>collaboration feels effortless, effective, and fun</strong>. You're lucky to get one or maybe even two of those things, but he's the real deal. The depth and breadth of <strong>Daniel's knowledge is not to be underestimated</strong>. If you left him on an island with nothing but a sketch of a button, he'd probably have a fully accessible design system built for you in two weeks, as well as a plan for change management and training your entire organization.
    </p>
		<cite>
			<a href="https://www.linkedin.com/in/jmaarten">Jan Maarten</a>
			<span>Senior Accessibility Designer, GitHub</span>
		</cite>
	</blockquote>

	<blockquote class="card" cite="https://www.linkedin.com/in/danhendersonede/details/recommendations/#:~:text=On-,Working%20with%20Daniel%20and%20getting%20an%20inside%20look%20at%20what%20makes,great%20team%20member%2C%20and%20someone%20I%20hope%20to%20work%20with%20again.,-Working%20with%20Daniel">
		<p>
      Working with Daniel and getting an inside look at what makes a good design system was a highlight of my time at CVS. Every time we connected, he taught me something new or gave me something different to think about. I appreciated that Daniel would go above and beyond to solicit feedback about the design system components he was working on. <strong>He took a challenging role -- defining accessibility behavior for an enterprise design system -- and made it seem easy.</strong>
		</p>
		<cite>
			<a href="https://www.linkedin.com/in/julianmka">Julian Kittelson-Aldred</a>
			<span>Lead Mobile Accessibility Consultant, Southwest Airlines</span>
		</cite>
	</blockquote>

	<blockquote class="card" cite="https://www.linkedin.com/in/danhendersonede/details/recommendations/#:~:text=On-,Daniel%20is%20a%20star%20player%20and%20one%20of%20the%20most%20knowledgable,Daniel%20is%20one%20of%20the%20best%20people%20I%27ve%20ever%20worked%20with.,-Daniel%20is%20a">
		<p>
      Daniel is a star player and <strong>one of the most knowledgable and skilled accessibility and system designers</strong> I have had the pleasure of working with. He brings a unique perspective to the team through his knowledge of not just accessible design but also his technical understanding of how the Web functions. His skills are extremely valuable and rare.
    </p>
		<p>
      I appreciate all that I have learned from Daniel over the past few years. I can truly say that I am a better and more inclusive experience (and systems) designer because of him. <strong>Without a doubt, Daniel is one of the best people I've ever worked with.</strong>
		</p>
		<cite>
			<a href="https://www.linkedin.com/in/amanda-crisp-0955a311b">Amanda Crisp</a>
			<span>Design System Lead Designer, CVS Health</span>
		</cite>
	</blockquote>
</section>
