---
layout: layouts/base.njk
pageTitle: Accessibility Statement
---

<h1>{{pageTitle}}</h1>

{% include "partials/alert.njk" %}

<p>
  This site is dedicated to providing an accessible experience that is
  perceivable, operable, understandable, and robost to all users.
</p>

<p>
  To do this, it aims to be conform to the
  <a href="https://www.w3.org/TR/WCAG22/"
    >Web Content Accessibility Guidelines (WCAG) 2.2</a
  >
  at a AAA level. WCAG defines the miniumum requirements for designers and
  developers to improve accessibility for people with disabilities.
</p>

<h2>Feedback</h2>
<p>
  I welcome your feedback on the accessibility of this site. Please let me know
  if you encounter accessibility barriers via:
</p>
<ul>
  <li><a href="mailto:daniel@hendersonede.com">Email</a></li>
  <li>
    <a href="https://github.com/danhendersonede/daniel.hendersonede.com/issues"
      >GitHub issues</a
    >
  </li>
</ul>
<p>I aim to respond to feedback within 2 business days.</p>

<h2>Compatibility with browsers and assistive technology</h2>
<p>
  This site is designed to be compatible with the greatest range of assistive
  technologies. The following environments are tested as part of the development
  process:
</p>
<ul>
  <li>Safari + VoiceOver (MacOS)</li>
  <li>Safari + VoiceOver (iOS)</li>
  <li>Chrome + VoiceOver (MacOS)</li>
  <li>Windows + NVDA</li>
  <li>Safari + Voice Control (MacOS)</li>
</ul>

<h3>Technical specifications</h3>
<p>
  The accessibility of this site relies on the following technologies to work
  with the particular combination of web browser and any assistive technologies
  or plugins installed on your computer:
</p>
<ul>
  <li>HTML</li>
  <li>WAI-ARIA</li>
  <li>CSS</li>
</ul>
<p>
  These technologies are relied upon for conformance with the accessibility
  standards used.
</p>

<h3>Limitations and alternatives</h3>
<p>
  Despite my best efforts to ensure accessibility of this site, there may be
  some limitations. The following is a description of known limitations, and
  potential solutions:
</p>
<ul>
  <li>
    <strong>Profile logos in YouTube video embeds</strong> do not have a role.
    There is no known solution. Waiting for the third-party to resolve this
    issue.
  </li>
</ul>

<h3>Assessment approach</h3>
<p>I assess the accessibility of this site via the the following methods:</p>
<ul>
  <li>self-evaluation</li>
  <li>
    <a
      href="https://chrome.google.com/webstore/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd"
      >axe</a
    >
  </li>
</ul>

<h3>Date</h3>
<p>
  This statement was last updated on the
  <time datetime="2023-10-07">7th October 2023</time>.
</p>

<hr />

The
<a href="https://www.w3.org/WAI/planning/statements/"
  >W3C Accessibility Statement Generator Tool</a
>
was used as a template for this accessibility statement.
