---
layout: layouts/home.njk
pageTitle: Home
---

<section id="index">
	<div id="headline">		
		<h1>
			<button disabled id="headline__button">Explore</button>
			<span>the</span>
			<span class="tag info">wonderful</span>
			<a href="#">intersections of accessibility</a>
			<select aria-label="select example" value="within">
				<option>within</option>
				<option>across</option>
				<option>inside</option>
			</select>
			<button id="tooltipDesignSystems" class="tooltip">design systems</button>
		</h1>
	</div>
</section>

{% include "partials/alert.njk" %}

{% include "partials/recentPosts.njk" %}

<section class="recents container">
	<h2>Resources coming soon!</h2>
	<hr aria-hidden="true" />
	<p style="font-weight: 500">I have some exciting things in the works, make sure to <a href="https://www.linkedin.com/in/danhendersonede/">follow me on LinkedIn</a> to get the latest updates.</p>
</section>

<dialog id="modal">
	<h2><img src="/img/info.svg" alt="Info: " />Design systems</h2>
	<hr aria-hidden="true" />
	<blockquote>
		A collection of reusable components, guided by clear standards, that can be assembled together to build any number of applications.

		<cite>Marco Suarez, <a href="https://www.designbetter.co/design-systems-handbook">Design System Handbook</a></cite>
	</blockquote>

	<p>If you are interesting in learning more, I recommend a short read: <a href="https://danmall.com/posts/what-is-a-design-system/" target="_blank">What is a Design System by Dan Mall</a>.</p>

	<button id="modalClose">Close tooltip</button>
</dialog>