---
layout: layouts/home.njk
---

<section id="index">
	<div id="headline">		
		<h1>
			<button id="headline__button">Explore</button>
			<span>the</span>
			<span class="tag info">wonderful</span>
			<a href="#">intersections of accessibility</a>
			<select aria-label="select example">
				<option>within</option>
				<option>across</option>
				<option>inside</option>
			</select>
			<button class="tooltip">design systems</button>
		</h1>
	</div>
</section>

{% include "partials/alert.njk" %}

{% include "partials/recentPosts.njk" %}

<section class="recents container">
	<h2>Resources coming soon!</h2>
	<hr aria-hidden="true" />
	<p style="font-weight: 500">I have some exciting things in the works, make sure to <a href="https://www.linkedin.com/in/danhendersonede/">follow me on LinkedIn</a> to get the latest updates.</p>
</section>
