---
layout: layouts/base.njk
eleventyNavigation:
  key: Talks
  order: 4
---

<div id="talks">
	<h1>{{eleventyNavigation.key}}</h1>
	<div>
		<section class="card">
			<h2>Figma's Into the File Livestream</h2>
			<p>Luis from Figma and Daniel Henderson-Ede talk all things accessibility with components, variables, and design at scale. Daniel is an accessibility expert and has contributed to the CVS accessibility kit, now used by companies, and has inspired new kits from Github, to document how components can be used and handed off to development teams.</p>
			<p>During the on-demand, they will pull back the curtain on Daniel’s experience, provide you with insights into what accessibility looks like within design systems teams - with tonnes of tips and tricks on how to get started within your own. They also provide advice for design system maintainers, design system consumers which includes a discussion about challenges with and requirements of designing accessible interfaces.</p>
			<strong>Recording coming soon</strong>
		</section>

		<section class="card">
			<h2>Knapsack's Design Systems Podcast</h2>
			<p>
      Welcome to another episode of The Design Systems Podcast! In honor of Global Accessibility Awareness Day, we're thrilled to have Daniel Henderson-Ede, an accessibility specialist, here to discuss the need for and challenges of making inclusive design experiences for those with disabilities, and how design systems can help. Daniel shares why and how accessibility considerations should influence every decision in design systems to create better, more inclusive products. We get into the importance of theme management, and the latest updates in accessibility standards. Join us as we navigate the critical intersections of design, accessibility, and system thinking to shed light on how we can enhance user experiences on a grand scale.
    </p>
			<a
      target="_blank"
      href="https://www.designsystemspodcast.com/episodes/episode/7c60bcaa/109-making-design-systems-inclusive-with-accessibility-specialist-daniel-henderson-ede"
      >Episode 109: Making Design Systems Inclusive with Accessibility Specialist Daniel Henderson-Ede</a
    >
		</section>

		<section class="card">
			<h2>ZeroHeight's Design Systems Rodeo Webinar</h2>
			<p>
			A new podcast where Kevin Muldoon and guests wrangle with the big common problems that design systems face. Every episode, they’ll hogtie a challenge, give it a good once over, and share the best techniques they’ve found to conquer them, from dealing with inconsistency to naming to white-label systems.
    </p>
			<a
      target="_blank"
      href="https://zeroheight.com/webinars/design-systems-rodeo-1-consistently-inconsistent/"
      >Episode 1: Consistently Inconsistent with guest host Daniel Henderson-Ede</a
    >
		</section>

		<section class="card">
			<h2>CSUN AT Conference</h2>
			<p>
      CVS Health has started to adopt accessibility annotations in the digital
      design process. Doing so has had innumerable benefits on the enterprise
      and customer experiences. Thinking about annotations in the design process
      influenced the design philosophy, and teams made design decisions that
      were rarely considered prior. This has improved the experiences of our
      customers by making digital products more accessible, inclusive, and
      usable...
    </p>
			<a
      target="_blank"
      href="https://www.csun.edu/cod/conference/sessions/2023/index.php/public/presentations/view/1288"
      >Evolving the Design Process with Accessibility Annotations details</a
    >
		</section>

		<section class="card">
			<h2>Deque's Axe-con Conference</h2>
			<p>
      Building a design system is a pivotal way to provide a more consistent
      user experience across brands, products, and platforms (Web, iOS, and
      Android). With many stakeholders influencing the enterprise initiative,
      the design system accessibility team doesn’t always win the first time
      around.
    </p>
			<p>
      In this session, learn about some of the challenges we’ve faced when
      building a design system for a Fortune 500 company. Come away with ideas,
      suggestions, resources, and learnings to help your team develop, or
      refine, a consistent, accessible design system for your organization.
    </p>
			<a target="_blank" href="https://www.youtube.com/watch?v=VWXcRAXHX1Q"
      >Building Accessible Design Systems – Try, Try, Try again on YouTube</a>
		</section>
	</div>
</div>