---
layout: layouts/base.njk
eleventyNavigation:
  key: Talks
  order: 3
---

<h1>{{eleventyNavigation.key}}</h1>

<p>
  Now and again I share my learnings and work in public places. Here's a list of
  places and talks I've done so far:
</p>

<div class="card-group">
  <div class="card interactive">
    <h2>CSUN 2023</h2>
    <p>
      CVS Health has started to adopt accessibility annotations in the digital
      design process. Doing so has had innumerable benefits on the enterprise
      and customer experiences. Thinking about annotations in the design process
      influenced the design philosophy, and teams made design decisions that
      were rarely considered prior. This has improved the experiences of our
      customers by making digital products more accessible, inclusive, and
      usable...
    </p>
    <a
      target="_blank"
      href="https://www.csun.edu/cod/conference/sessions/2023/index.php/public/presentations/view/1288"
      >Details of Evolving the Design Process with Accessibility Annotations</a
    >
  </div>

  <div class="card interactive">
    <h2>axe-con 2022</h2>
    <p>
      Building a design system is a pivotal way to provide a more consistent
      user experience across brands, products, and platforms (Web, iOS, and
      Android). With many stakeholders influencing the enterprise initiative,
      the design system accessibility team doesn’t always win the first time
      around.
    </p>
    <p>
      In this session, learn about some of the challenges we’ve faced when
      building a design system for a Fortune 500 company. Come away with ideas,
      suggestions, resources, and learnings to help your team develop, or
      refine, a consistent, accessible design system for your organization.
    </p>
    <a target="_blank" href="https://www.youtube.com/watch?v=VWXcRAXHX1Q"
      >Watch Building Accessible Design Systems – Try, Try, Try again</a
    >
    <br/>
    <a
      target="_blank"
      href="https://www.deque.com/axe-con/speakers/daniel-henderson-ede/"
      >axe-con speaker profile</a
    >
  </div>
</div>