---
layout: layouts/base.njk
eleventyNavigation:
  key: Case Studies
  order: 1
---

<h1>Case Studies</h1>

<div id="work">
	<section class="work">
		<div class="card interactive">
			<a href="making-an-impact-at-pinterest">
				<h2>Making an impact at Pinterest</h2>
			</a>
			<p>Conducted user interviews, audited Gestalt components, resolved WCAG issues, delivered accessible best practices, published an annotations kit, and launched a company-wide accessibility training program.</p>
		</div>

		<img
				class="card full-bleed"
				src="/img/work/making-an-impact-at-pinterest/creative-best-practices.png"
				alt="Make it accessible guidelines for advertiser Pins on Pinterest's Creative Best Practices page."
			/>
	</section>

	<section class="work">
		<div class="card interactive">
			<a href="conforming-the-cvs-health-design-system-to-wcag-22">
				<h2>Conforming the CVS Health design system to WCAG 2.2</h2>
			</a>
			<p>By taking the time and effort to think beyond the minimum standard (what was WCAG 2.1 AA) since day one, I saved the enterprise months of time in the cost of rework later.</p>
		</div>
		<img
				class="card full-bleed"
				src="/img/work/conforming-the-cvs-health-design-system-to-wcag-22/2413.webp"
				alt="A collection of Button components in their Default and Reversed variants."
		/>
	</section>

	<section class="work">
		<div class="card interactive">
			<a href="creating-a-new-web-accessibility-annotation-kit">
				<h2>Creating a new Web Accessibility Annotation Kit</h2>
			</a>
			<p>I led the creation of this annotations kit for CVS Health as it became one of their top Figma libraries, with 150,000+ annotations made across 1,100+ design files.</p>
		</div>
		<img
				class="card full-bleed"
				src="/img/resources/web-annotations-kit.png"
				alt="Figma file cover of the CVS Health Web Accessibility Annotation Kit. To the side of the text is a mosaic of different annotation stamps. The subtitle reads, “Communicating design intent to create experiences anyone can use."
		/>
	</section>
</div>