---
import { pageConfig } from '@config/root-page-config';
import FeaturedLink from '@components/featured-link.astro';
---

<section class="featured-links">
  {
    Object.entries(pageConfig).map(([, item]) => {
      if (item.featured) {
        return (
          <FeaturedLink
            title={item.pageTitle}
            href={`/${item.slug}`}
            type="large"
          />
        );
      }
    })
  }
</section>

<script>
  import { animate, inView, stagger } from 'motion';

  inView('.featured-links', () => {
    animate(
      '.featured-link.animate',
      { y: 0, opacity: 1 },
      {
        delay: stagger(0.2),
      }
    );
  });
</script>

<style>
  .featured-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-auto-flow: dense;
    gap: var(--spacing-s);
    margin: 3rem 0;
    align-items: stretch;
    padding: 0;
  }
</style>

<style is:global>
  .featured-links .resource.featured {
    width: 100%;
    max-width: 32rem;
  }
</style>
