---
import CTALink from "./CTALink.astro";
---

<section class="highlight" aria-labelledby="subscribe-heading">
  <h2 id="subscribe-heading">Stay Updated</h2>
  <p>
    Get exclusive insights and tips to make accessibility a driver of your
    success. Never miss an update!
  </p>
  <CTALink href="/subscribe"> Subscribe Now </CTALink>
</section>
