<div class="alert container" role="region" aria-labelledby="alert-title">
  <p>
    <strong id="alert-title">It's worth mentioning:</strong> My site is still in
    active development, so most areas are not yet complete. I apologize if you
    run into something that's not working quite right.
  </p>
</div>
