<ul reversed class="card-group articlelist">
	{% for article in articleslist | reverse %}
		<li
    class="card interactive articlelist-item{% if article.url == url %} articlelist-item-active{% endif %}"
  >
			<a href="{{ article.url }}" class="articlelist-link"
      >
				{% if article.data.pageTitle %}{{ article.data.pageTitle }}
				{% else %}
					<code
        >{{ article.url }}</code
      >
				{% endif %}
			</a
    >
			<p>{{article.data.description}}</p>
			<p>
				<time class="articlelist-date" datetime="{{ article.date | htmlDateString }}"
        >{{ article.date | readableDate("LLLL yyyy") }}</time
      >
			</p>
		</li>
	{% endfor %}
</ul>