<ul reversed class="card-group postlist">
  {% for post in postslist | reverse %}
  <li
    class="card postlist-item{% if post.url == url %} postlist-item-active{% endif %}"
  >
    <a href="{{ post.url }}" class="postlist-link"
      >{% if post.data.pageTitle %}{{ post.data.pageTitle }}{% else %}<code
        >{{ post.url }}</code
      >{% endif %}</a
    >
    <p>{{post.data.description}}</p>
    <p>
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}"
        >{{ post.date | readableDate("LLLL yyyy") }}</time
      >
    </p>
  </li>
  {% endfor %}
</ul>
