<section id="contact" class="container">
	<div class="card">
		<div>
			<h2 id="contact-me">Let's chat</h2>
			<p>
        Looking for advice? Want to nerd out about accessibility or design
        systems? Have a project for me?
        <strong>What ever it may be, feel free to reach out 🙂</strong>
			</p>
			<p>
        I look forward to hearing from you! <br/>
        - Daniel
      </p>
			<ul class="contact-me-links" ria-labelledby="contact-me">
				<li>
					<a href="mailto:daniel@hendersonede.com">Email</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/danhendersonede/">LinkedIn</a>
				</li>
				{#
        <li><a href="https://www.figma.com/@danhendersonede">Figma</a></li>
        <li><a href="https://github.com/danhendersonede">GitHub</a></li>
        #}
				<li>
					<a href="https://calendly.com/danhendersonede/chat"
            >Schedule a Zoom chat</a
          >
				</li>
			</ul>
		</div>
	</div>
	<div class="card full-bleed">
		<img
      src="/img/profile.JPG"
      alt="A smiling white male with short, red hair, standing in the center of the image, wearing a stripey shirt."
/>
	</div>
</section>